<h1 class="ui header">
  Editing Movie
</h1>

<%= render 'form', movie: @movie %>

<div class="ui basic buttons">
  <%= link_to movies_path, class: "ui button" do %>
    <i class="chevron left icon"></i> Back
  <% end %>
  <%= link_to @movie, class: "ui button" do %>
    <i class="eye"></i> Show
  <% end %>
</div>
