<h1 class="ui header">
  Similar Movies for
  <%= @movie.title.blank? ? "Movie" : @movie.title %>
</h1>

<ul>
  <% @similar_movies.each do |movie_title| %>
      <li>
        <%= link_to movie_title %>
      </li>
    <% end %>
</ul>

<div class="ui basic buttons">
  <%= link_to movies_path, class: "ui button" do %>
    <i class="chevron left icon"></i> Back
  <% end %>
</div>
