<h1 class="ui header">
 Similar Movies for <% @movie.title %>
</h1>

<div>
  <ul>
    <% @similar_movies.each do |movie_name| %>
      <li>
        <% link_to(movie_name) %>
      </li>
    <% end %>
  </ul>
</div>